html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 0 12%;
    background-color: #1F2937;
    display: flex;
    height: 5%;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 21px;
    flex-grow: 1;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

li {
    color:#E5E7EB;
}

.links {
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 15px;
    color: #E5E7EB;
    height: 5%;
}

.first {
    flex: 1;
    padding: 0 12%;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 15px;
    display: flex;
    padding-top: 1%;
    padding-bottom: 3%;
    align-items: center;
    gap: 3%;
}

.second {
    flex: 1;
    padding: 0 12%;
    text-align: center;
}

.third {
    flex: 0.8;
    padding: 0 12%;
    background-color: #E5E7EB;
}

.fourth {
    flex: 0.7;
    padding: 0 12%;
}

h1 {
    color: #F9FAF8;
    font-size: 44px;
    margin: 0px;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#topbut {
    background-color: #3882F6;
    padding: 3px 10px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 7px;
    font-weight: bold;
}

#stext {
    font-weight: bold;
    font-size: 26px;
    margin: 1%
}

.info {
    display: flex;
    height: 150px;
    flex-shrink: 1;
    gap: 4%;
}

.box {
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 5px;
    flex-grow: 1;
}

.textbox {
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;
}